* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

html {
    font-size: 10px;
}

.bgImage {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(s1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    animation: bgChange 20s linear infinite;

}

@keyframes bgChange {
    10% {
        background-image: url(s1.jpg);
    }

    25% {
        background-image: url(s2.jpg);
    }

    50% {
        background-image: url(s3.jpg);
    }

    75% {
        background-image: url(s4.jpg);
    }

    95% {
        background-image: url(k1.jpg);
    }
}




.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.logo-box {

    width: 100%;
    height: 100%;


}


body {
    min-height: 100vh;

}

header {

    top: 0;
    left: 0;
    padding: 2rem;
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-position: center;






}


.header .navbar {
    position: sticky;
    left: 0;
}



.logo {
    font-size: 3.6rem;
    text-decoration: none;
    color: aliceblue;
    font-weight: 300;
    font-family: 'Ranade', sans-serif;




}

.navbar a {
    font-size: 2.1rem;
    color: #fff;
    font-weight: 6000;
    text-decoration: none;
    margin-right: 4rem;
    padding: 1rem;
    font-family: 'Chillax', sans-serif;


}

.navbar a:hover {
    color: rgb(143, 162, 173);

}



.content {
    position: absolute;
    width: 98%;
    height: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;

    font-size: 2.3rem;
    margin-left: 2rem;
    margin-top: 3rem;
}

.btn {
    width: 19%;
    font-size: 4rem;
    margin-top: 1rem;
    align-items: center;
    text-decoration: none;
    padding: 1rem;
    background-color: transparent;
    color: #fff;
    font-family: 'Chillax', sans-serif;



}

.content h1 {
    font-family: 'General Sans', sans-serif;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;



}

.card {
    width: 37.5rem;
    background-color: #0b425c;
    border-radius: 0.8rem;
    overflow: hidden;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
    margin: 3rem;
    margin-top: 4rem;

}

.card img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 1rem;


}

.card-content h3 {
    margin-bottom: 2rem;
    font-size: 2.7rem;
    font-family: 'Quicksand', sans-serif;
    color: rgb(251, 254, 255);
    text-align: left;
}

.btn2 {
    font-size: 2.5rem;
    padding-left: 0.2rem;
    text-decoration: none;
    border: 0 solid rgb(231, 199, 157);
    border-radius: 0.7rem;
    padding: 0.3rem;
    color: #fff;

    font-family: 'Quicksand', sans-serif;

}

main {
    height: 100%;
    width: 100%;
    background-color: #4a7083;
}

.img2 {
    max-width: 50rem;
    float: left;
    border-radius: 2rem;
    margin-right: 3rem;
    max-height: 50rem;
}

.wrapper {
    margin: 5rem auto;
    width: 90%;
    margin-left: 5rem;
}

.text-box {
    color: #fff;
}


.text-box h2 {
    font-size: 4rem;
    font-family: 'Quicksand', sans-serif;
    color: #fff;
}

.text-box p {
    font-size: 2rem;
    text-align: justify;
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;


}




.img3 {
    max-width: 50rem;
    float: right;
    border-radius: 2rem;
    margin-left: 2rem;


}

.text-box1 h2 {
    font-size: 5rem;
    font-family: 'Quicksand', sans-serif;
    color: #fff;
    margin-left: 0.2rem;
    margin-left: 5rem;



}

.text-box1 p {
    font-size: 2rem;
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    text-align: justify;
    margin-left: 5rem;



}


.wrapper1 {
    margin: 5rem auto;
    width: 100%;
    margin-left: 0.1rem;
    margin-right: 3rem;
    padding-right: 0.2rem;

}

.img3 {
    max-width: 50rem;
    float: right;
    border-radius: 2rem;
    margin-right: 1rem;

}




.img4 {
    max-width: 50rem;
    float: left;
    border-radius: 2rem;
    margin-right: 3rem;

}

.wrapper2 {
    margin: 5rem auto;
    width: 90%;
    margin-left: 5rem;
}

.text-box2 {
    color: #fff;
}


.text-box2 h2 {
    font-size: 4rem;
    font-family: 'Quicksand', sans-serif;
    color: #fff;
}

.text-box2 p {
    font-size: 2rem;
    text-align: justify;
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;


}

.container-video {
    width: 100%;
    height: 100vh;


}

.background-clip {
    position: absolute;
    right: 0;
    left: 0;
    z-index: -1;
}

section {
    width: 100%;
    height: 200vh;
    background-color: black;
}



section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(member.jpg);
    width: 100%;
    background-size: cover;
    background-position: center;
}

.wrapper5 {
    width: 69rem;
    background: transparent;
    color: #fff;
    border-radius: 2rem;
    padding: 3rem 4rem;
    border: 2px solid rgba(255, 255, 255, 2);
    backdrop-filter: blur(0.3rem);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    height: 74vh;
    
}

.wrapper5 h1 {
    font-size: 3.6rem;
    text-align:center
}

.wrapper5 .input-box {
    width: 100%;
    height: 3rem;

    margin: 3rem 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 2rem;
    padding: 2rem 4.5rem 2rem 0.1rem;
    border-bottom: 1px solid #fff;
    color: #fff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}


.input-box input::placeholder {
    color: #fff;

}


#message {

    width: 100%;

    background: transparent;
    border: none;
    outline: none;
    font-size: 2rem;
    padding-top: 0.1rem;
    border-bottom: 1px solid #fff;
    color: #fff;
    padding: 0.1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}


#message::placeholder {
    color: #fff;
}


.btn3 {
    margin-top: 2rem;
    padding: 0.8rem;
    border-radius: 3rem;
    border: 2px solid #fff;
    color: #ffffff;
    text-decoration: none;
    font-size: 2rem;
    font-family: 'Quicksand', sans-serif;
    transition: 0.4s ease;

}


.btn3:hover {
    background-color: #0b425c;


}


footer {
    background-color: #4a7083;
    padding-top: 5rem;
}

.container3 {
    width: 114rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    
}

#k4{
    font-family: 'Clash Grotesk', sans-serif;
    letter-spacing: 0.4rem;
}

.footer {
    width: 100%;
    
}

h3 {
    font-size: 3.2rem;
    margin-bottom: 1.5rem;
    text-align: center;
    color: #fff;
    font-family: 'Clash Grotesk', sans-serif;
    letter-spacing: 0.1rem;
}

.footer-content p{
    width: 19rem;
    text-align:center;
    margin: auto;
    padding-left: 0.1rem;
    padding: 0.7rem;
    color: #fff;
    font-size: 1.4rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}



#phone2{
    padding-right: 0.7rem;
}

.footer-content ul{
    text-align: center;
    
    
}

.list{
    padding: 0;

    
}
.list li{
    width: auto;
    text-align: center;
    list-style-type: none;
    padding: 0.7rem;
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.list li::before{
    content: "";
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 0.2rem;
    background:#fff;
    transition-duration: .5s;
    
}

.list li:hover::before{
    width: 7rem;
    
}


.social-icons{
    text-align: center;
    padding: 0;

}

.social-icons li{
    display: inline-block;
    text-align: center;
}

.social-icons i{
    color: #fff;
    font-size: 2.6rem;
    margin-right: 2rem;
}
a{
    text-decoration: none;
}

a:hover{
    color: #fff;
}

.social-icons i:hover{
    color:black;
}

.bottom-bar{
    background: black;
    text-align: center;
    padding: 1rem 0;
    margin-top: 5rem;
    
}

.bottom-bar p{
    color: #ffffff;
    font-size: 1.2rem;
    margin: 0;
    padding: 0.7rem;
}


.list li{
    font-size: 2rem;
}


#b3 a{
    color: #fff;
    
}